.header {
  padding: 1rem 0;
  background-color: var(--white-color);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
    z-index: 1001;
    align-self: start;
    @include small-tablet {
      display: block;
      margin-right: 15px;
    }
  }
}

.burger {
  @include burger;
}
